.boxes {
    display: flex;
    background-color: lightgreen;
}

.item1 {
    height: 100px;
    width: 100px;
    border: solid 2px gray;
    background-color: blue;
    flex-grow: 1;
}

.item3 {
    height: 100px;
    width: 100px;
    border: solid 2px gray;
    background-color: red;
    flex-grow: 3;
}