* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

img {
    border: solid orange 2px;
    border-radius: 50px;
    justify-content: center;
}

button {
    color: whitesmoke;
    background-color: rgb(34, 34, 34);
}

.BobsContainer {
    flex-wrap: wrap;
}

img {
    height: 600px;
}